@using FitnessTracker.Data.Models;
@model List<AllWorkoutsDto>

@{
    ViewData["Title"] = "Workouts";
}

<h1>Workouts</h1>

@foreach (var workout in Model)
{
    <div>
        <img src="@workout.ImageUrl" alt="Workout Image" width="200" height="200" />
        <h2>@workout.WorkoutName</h2>   
        <p>Duration: @workout.DurationInSeconds</p>
        <p>Intensity: @workout.Intensity</p>
        <a href="@Url.Action("Exercises", "Workout", new { workoutId = workout.Id })">View Exercises</a>
    </div>
}