@using WebFitnessApp.Data.Entities;
@using WebFitnessApp.Data.ViewModels;
@model AllWorkoutsQueryModel 

@{
    ViewBag.Title = "My Workouts";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@*<table>
    <tr>
        <th>Workout Name</th>
        <th>Description</th>
        <th>Edit</th>
    </tr>
    @foreach (var workout in Model)
    {
        <tr>
            <td>@workout.WorkoutName</td>
            @if (User.IsInRole("Instructor"))
            {
                <td>
                    <a href="@Url.Action("EditWorkout", "Workout", new { id = workout.Id })">Edit</a>
                </td>
            }
        </tr>
    }
</table>*@

@*@model List<Workout>

<h2>All Workouts</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workout in Model)
        {
            <tr>
                <td>@workout.WorkoutName</td>
                <td>@workout.Description</td>
                <td>@workout.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>*@